<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dictionary</title>
    <style>
        .custom-table {
            border-collapse: collapse;
            width: 100%;
        }
        .custom-table th, .custom-table td {
            border: 1px solid #ccc;
            padding: 5px;
            text-align: center; /* Center align text within cells */
        }
        .table-container {
            margin-top: 20px; /* Add spacing at the top */
            margin-bottom: 20px; /* Add spacing at the bottom */
        }
    </style>
</head>
<body>
<h1 th:text="${dictionary.getName()}"></h1>

<!-- Add "Add Translation" button at the top -->
<div class="table-container">
    <div th:if="${user == 'admin'}">
        <a th:href="@{'/dictionaries/' + ${dictionary.getName()} + '/create-translation'}" class="btn btn-primary">Add Translation</a>
    </div>

    <table class="custom-table">
        <thead>
        <tr>
            <th>Word</th>
            <th>Translated Word</th>
            <th th:if="${user == 'admin'}">Edit</th>
            <th th:if="${user == 'admin'}">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="translation : ${dictionary.getTranslations()}">
            <td th:text="${translation.word.getValue()}"></td>
            <td th:text="${translation.translatedWord.getValue()}"></td>
            <td th:if="${user == 'admin'}">
                <a th:href="@{'/dictionaries/' + ${dictionary.getName()} + '/edit/'
                 + ${translation.getWord().getValue()} + '-' + ${translation.getTranslatedWord().getValue()}}" class="btn btn-primary">Edit</a>
            </td>
            <td th:if="${user == 'admin'}">
                <form th:action="@{'/dictionaries/delete/' + ${translation.getWord()}}" method="post">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
