<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Translation</title>
</head>
<body>
<h1>Edit Translation</h1>

<form th:action="@{'/dictionaries/' + ${dictionaryName} + '/edit/' + ${translation.word.value} + '-' + ${translation.translatedWord.value}}" method="post">
    <label for="word">Word:</label>
    <input type="text" id="word" name="word" th:value="${translation.word.value}" />

    <label for="translatedWord">Translated Word:</label>
    <input type="text" id="translatedWord" name="translatedWord" th:value="${translation.translatedWord.value}" />

    <input type="submit" value="Save" />
</form>
</body>
</html>
